<body style="background-image:url('https://static01.nyt.com/images/2020/03/05/us/05xp-clinton/merlin_11228189_0be33503-799d-4877-977c-9f3fb6db2496-superJumbo.jpg');">
<h1>Album: <%= @title %>, has been added</h1>
<a href="/albums/">Return to Albums here</a>
</body>