<body style="background-image:url('https://static01.nyt.com/images/2020/03/05/us/05xp-clinton/merlin_11228189_0be33503-799d-4877-977c-9f3fb6db2496-superJumbo.jpg');">
<form method="POST" action="/artists/created">
  <label> Name: </label>
  <input type="text" name="artist_name" />
  <label> Genre: </label>
  <input type="text" name="artist_genre" />
  <input type="submit" value="Submit New Artist" />
</form>
</body>